<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

  <header class="header">
    <div class="container">
      <div class="header__inner">
        <a href="#" class="logo header__logo">
          <svg width="345" height="44" role="img" fill="#fff">
            <title>logo</title>
            <use xlink:href="images/sprite.svg#logo"></use>
          </svg>
        </a>
        <button class="header__btn btn">Order a consultation</button>
        <button class="header__menu">
          <svg width="50" height="19" role="img">
            <title>menu</title>
            <use xlink:href="images/sprite.svg#btn-menu"></use>
          </svg>
        </a>
        <button class="header__btn btn">Order a consultation</button>
        <button class="header__menu">
        </button>
      </div>
    </div>
  </header>