@font-face {
    font-family: 'Inter';
    font-display: swap;
    src: url('../fonts/Inter_28pt-Regular.woff2') format('woff2'),
       url('../fonts/Inter_28pt-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}
  
@font-face {
    font-family: 'Inter';
    font-display: swap;
    src: url('../fonts/Inter_18pt-Bold.woff2') format('woff2'),
        url('../fonts/Inter_18pt-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}