.footer {
	margin-bottom: 10px;
	&__inner {
		border-radius: 30px;
		background: rgb(143, 126, 112);
		padding: 50px 50px 20px;
		margin-bottom: 10px;
	}
	&__title {
		font-size: 40px;
		font-weight: 700;
	}
	&__contacts {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: 30px;
		gap: 4px;
	}
	&__contacts-item {
		font-size: 20px;
		font-weight: 700;
		line-height: 130%;
	}
	&__bottom {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: 36px;
	}
	&__logo {
		align-self: center;
	}
	&__btn {
		max-width: 380px;
	}
}
