.gallery {
    &__inner {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 120px 245px 180px;
        gap: 10px 20px;
    }
    svg{
        width: 100%;
    }
    .gall-mobile{
        display: none;
    }
    margin-bottom: 50px;
}
.gall-1 {
    grid-area: 1/1/3/3;
    align-self: stretch;
}
.gall-2 {
    grid-area: 1/3/2/4;
    align-self: start;
}
.gall-3 {
    grid-area: 1/4/2/5;
}
.gall-4 {
    grid-area: 1/5/4/6;
    align-self: stretch;
}
.gall-5 {
    grid-area: 2/2/3/3;
    align-self: end;
}
.gall-6 {
    grid-area: 2/3/3/3;
    margin-top: 70px;
}
.gall-7 {
    grid-area: 2/4/3/5;
}
.gall-8 {
    grid-area: 3/1/4/3;
    align-self: stretch;
}
.gall-9 {
    grid-area: 3/3/4/4;
    align-self: end;
}
.gall-10 {
    grid-area: 3/4/4/5;
    align-self: end;
}
